@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
    margin: 0;
    padding: 0;
}

:root{
    --white: #fff;
    --dark1: #34344e;
    --dark2: #3a415a;
    --dark3: #566981;
    --dark4: #89a7b1;
    --dark5: #cbdad5;
    --dark6: #2f2f46;
    --blue:  #708090;
    --cyan:  #70e3ea;
}

body {
    background-color: var(--dark1);
    height: 100vh;
    font-family: 'Lato';
}

header{
    background-color: var(--dark6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0.2rem;
    min-height: 50px;
}

header > div  {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

header > div > p {
    color: white;
    font-weight: bold;
}


.box-img-header {
    height: 100%;
}

.img-logo{
    max-width: 80px;
    height: 100%;
}

nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links{
    text-decoration: none;
    color: var(--white);
}

.nav-links:hover{
    color: var(--cyan);
    text-decoration: underline;
    transition: 0.5s;
}

main {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

section {
    padding-bottom: 4rem;
}

h2 {
    font-size: 3rem;
    padding: 5rem;
    text-align: center;
    color: #70e3ea; 
}

.link-action {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    padding: .6rem;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    width: 200px;
    text-align: center;
    padding-inline: 2rem;
}

.link-action:hover {
    background-color: #566981;
}

.Inicio {
    background-color: #3a415a;
    background-size: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    min-height: 650px;
}

.Inicio > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
    color: white;
    text-align: center;
    letter-spacing: 4px;
    max-width: 90rem;
}

.Inicio > div > div {
    margin-top: 2rem;
}


strong {
    color: var(--cyan);
}


/* Segunda seção*/ 


.Sobre {
    background-color: #566981;
    min-height: 950px;
    padding: 2rem ;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.Sobre h2 {
    color: #70e3ea;
}

.Sobre p:first-of-type {
    max-width: 800px; 
    text-align: center; 
    margin-bottom: 40px; 
    color: white;
    font-size: 1.2rem;
    padding: 0 20px;
}

.container-boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.box-sobre {
    background-color: rgb(158, 201, 214); 
    max-width: 300px; 
    border-radius: 20px;
    padding: 20px;
    text-align: left;
}

.Sobre p:last-of-type {
    margin-top: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 1.1rem;
    max-width: 90%; 
}

/* impacto */ 
.Impacto {
    background-color: var(--dark6);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 750px;
    flex-direction: column;
    color: white;
    padding: 2rem;
    width: 100%;
}

.img-odd3 {
    max-width: 200px;
    margin: 20px;
}

.img-odd16 {
    max-width: 200px;
    margin: 20px;
}

.div-odd3 {
    background-color: #4da046;
    max-width: 400px;
    max-height: 400px;
    border-radius: 30px;
    padding: 30px;
    color: white;
    text-align: center;
}

.div-odd16 {
    background-color: #136a9f;
    max-width: 400px;
    max-height: 400px;
    border-radius: 30px;
    padding: 30px;
    color: white;
    text-align: center;
}

.div-box-impacto {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 40px;
}